*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Using CSS Grid for the layout */
.img{
    background: gray;
}
.pg{
    display: grid;
    grid-template-rows: 30% 70%;
}
.footer1{
    color: white;
    text-align: center;
    grid-column: 1/3;
    background: rgb(0, 0, 165);
}
.footer1 h5{
    padding-top: 7px;
}
.pp h2{
    font-size: 2rem;
    color: white;
    background: rgb(0, 0, 165);
    text-align: right;
}
.pp h2{
    padding:60px 15px;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 95% 5%;
}

.add-rooms{
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}
.form h2{
    text-align: center;
    padding: 10px 0px;
}
.btns{
    display: flex;
    justify-content: center;
}
.btns button{
    margin: 10px 10px;
    padding: 2px 20px;
    border-radius: 10px;
}
form td{
    padding: 7px 5px;
}
input,select{
    padding: 2px;
    border-radius: 10px;
}
select{
    width: 177px;
}
textarea{
    padding: 2px;
    border-radius: 12px;
}
.td-ip{
    text-align: center;
    padding-left: 90px;
}


.img{
    padding-left: 15px;
    padding-top: 20px;
}

li{
    list-style-type: none;
    padding-bottom: 20px;
}


.dash1{
    text-align: center;
}


.user{
    text-align: center;
}


.account{
    text-align: center;
}
